# SSL Configuration
ssl_certificate /etc/ssl/${NGINX_SSL_CERT};
ssl_certificate_key /etc/ssl/${NGINX_SSL_CERT_KEY};

# SSL settings recommended for security
# These come from Cloudflare's [Cipher suites recommendations](https://developers.cloudflare.com/ssl/reference/cipher-suites/recommendations/)
ssl_protocols TLSv1.2 TLSv1.3;
ssl_prefer_server_ciphers on;
ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
